// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#task {
  width: calc(100vw - 170px);

  .drag-drop-board {
    height: 100%;
  }

  h4 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  .add-item {

    height: 100px;

    button {
      height: 100%;
      width: 100%;
      background: rgba(80, 48, 229, 0.06);
      border: none;
    }
  }
}

.box-container {
  vertical-align: top;
  padding: 10px;
  background-color: #f5f5f5;
  min-height: calc(100vh - 80px);
}

.box-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.box-item {
  padding: 20px 10px;
  border: solid 1px #ccc;
  border-radius: 16px;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;

  .item-header {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    padding: 5px;
  }

  .item-name {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    padding: 5px;
  }

  .item-content {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(120, 116, 134, 1);
    padding: 5px;
  }

}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// .box-item:last-child {
//   border: none;
// }

.box-list.cdk-drop-list-dragging .box-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#modal {
  .modal-header {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    justify-content: center;
    align-items: center;
    color: #000000;
  }

  .modal-body {
    .form-group {
      padding: 0.75rem;

      label {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        color: #666666;

        span {
          color: rgba(237, 28, 36, 1);
        }
      }

      input {
        border-radius: 8px;

        &:focus {
          box-shadow: none;
          border: 2px solid #7A5CFA;
        }
      }

      select:focus {
        box-shadow: none;
        border: 2px solid #7A5CFA;
      }

    }

  }

  .modal-footer {
    display: flex;
    justify-content: center;

    button {
      border-radius: 5px;
      padding: 6px 32px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #FFFFFF;
    }

    button.btn-dismiss {
      background: linear-gradient(360deg, #8B8B8B 0%, #8B8B8B 100%);
    }

    button.btn-save {
      background: linear-gradient(360deg, #624DE3 0%, #106DB6 100%);
    }
  }
}