<app-nav></app-nav>
<div class="wrapper">

    <div class="main">
        <h4>Danh sách công việc</h4>
        <div>
            <div class="pull-right">
                <button>
                    <fa-icon icon=download></fa-icon>
                    Xuất file
                </button>
            </div>
        </div>
        <form action="" [formGroup]="filterForm">
            <div class="search-bar">
                <div class="search-box">
                    <div class="search-title">Tên công việc</div>
                    <input type="text" class="search-content" formControlName="name">
                </div>
                <div class="search-box">
                    <div class="search-title">Dự án</div>
                    <input type="text" class="search-content" formControlName="project">
                </div>
                <div class="search-box grow">
                    <div class="search-title">Module</div>
                    <input type="text" class="search-content" formControlName="module">
                </div>
                <button type="submit" (click)="filter()">Search</button>
            </div>
            <div class="search-bar">
                <div class="search-box">
                    <div class="search-title">Thuộc đầu mục</div>
                    <input type="text" class="search-content" formControlName="item">
                </div>
                <div class="search-box">
                    <div class="search-title">Người thực hiện</div>
                    <input type="text" class="search-content" formControlName="executer">
                </div>
                <div class="search-box grow">
                    <div class="search-title">Mức độ ưu tiên</div>
                    <select formControlName="priority" class="dropdown-content">
                        <option value="">--Chọn--</option>
                        <option *ngFor="let priority of prioritys" [ngValue]="priority.value">
                            {{ priority.name }}
                        </option>
                    </select>
                </div>
            </div>
        </form>
        <div id="main-content" class="container-fluid">
            <div class="row head row-content">
                <div class="col-1 text-center">STT</div>
                <div class="col-2">Mã công việc</div>
                <div class="col-2">Tên công việc</div>
                <div class="col-2">Đầu mục</div>
                <div class="col-1">Module</div>
                <div class="col-1">Dự án</div>
                <div class="col-1 text-center">Người tạo</div>
                <div class="col-2 text-center">Trạng thái</div>
            </div>
            <div *ngFor="let item of planList; let idx = index" class="row body row-content">
                <div class="col-1 text-center">{{idx+1}}</div>
                <div class="col-2">{{item.code}}</div>
                <div class="col-2">{{item.name}}</div>
                <div class="col-2">{{item.workItem.name}}</div>
                <div class="col-1">{{item.module_workdo.name}}</div>
                <div class="col-1">{{item.project_workdo.name}}</div>
                <div class="col-1 text-center">{{item.emp_workdo_3.username}}</div>
                <div class="col-2 text-center">{{item.status}}</div>
            </div>
        </div>
    </div>

</div>